<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>Property Price Prediction</title>
</head>
<body>
	<div class="container">
		<h1>Predict property Price</h1>
		<form method="POST" action="\predict">
			<div class="mb-3 col-auto">
				<label for="YearBuilt" class="form-label">YearBuilt</label>
				<input type="number" class="form-control" id="YearBuilt" name="YearBuilt">
			</div>
			<div class="mb-3 col-auto">
				<label for="YearRemodAdd" class="form-label">YearRemodAdd</label>
				<input type="number" class="form-control" id="YearRemodAdd" name="YearRemodAdd">
			</div>
			<div class="mb-3 col-auto">
				<label for="BsmtFullBath" class="form-label">BsmtFullBath</label>
				<input type="number" class="form-control" id="BsmtFullBath" name="BsmtFullBath">
			</div>
			<div class="mb-3 col-auto">
				<label for="KitchenAbvGr" class="form-label">KitchenAbvGr</label>
				<input type="number" class="form-control" id="KitchenAbvGr" name="KitchenAbvGr">
			</div>
			<div class="mb-3 col-auto">
				<label for="Fireplaces" class="form-label">Fireplaces</label>
				<input type="number" class="form-control" id="Fireplaces" name="Fireplaces">
			</div>
			<div class="mb-3 col-auto">
				<label for="GarageCars" class="form-label">GarageCars</label>
				<input type="number" class="form-control" id="GarageCars" name="GarageCars">
			</div>
			<div class="mb-3 col-auto">
				<label for="Total_SF" class="form-label">Total_SF</label>
				<input type="number" class="form-control" id="Total_SF" name="Total_SF">
			</div>
			<div class="mb-3 col-auto">
				<label for="OverallQual" class="form-label">OverallQual</label>
				<select class="form-select" id="floatingSelect" name="OverallQual" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9">10</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="OverallCond" class="form-label">OverallCond</label>
				<select class="form-select" id="floatingSelect" name="OverallCond" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
				</select>
			</div>			
			<div class="mb-3 col-auto">
				<label for="Dwell_Type" class="form-label">Dwell_Type</label>
				<select class="form-select" id="floatingSelect" name="Dwell_Type" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">20</option>
					<option value="1">30</option>
					<option value="2">40</option>
					<option value="3">45</option>
					<option value="4">50</option>
					<option value="5">60</option>
					<option value="6">70</option>
					<option value="7">75</option>
					<option value="8">80</option>
					<option value="9">85</option>
					<option value="10">90</option>
					<option value="11">120</option>
					<option value="12">160</option>
					<option value="13">180</option>
					<option value="14">190</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="Zone_Class" class="form-label">Zone_Class</label>
				<select class="form-select" id="floatingSelect" name="Zone_Class" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">C (all)</option>
					<option value="1">FV</option>
					<option value="2">RH</option>
					<option value="3">RL</option>
					<option value="4">RM</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="Neighborhood" class="form-label">Neighborhood</label>
				<select class="form-select" id="floatingSelect" name="Neighborhood" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">Blmngtn</option>
					<option value="1">Blueste</option>
					<option value="2">BrDale</option>
					<option value="3">BrkSide</option>
					<option value="4">ClearCr</option>
					<option value="5">CollgCr</option>
					<option value="6">Crawfor</option>
					<option value="7">Edwards</option>
					<option value="8">Gilbert</option>
					<option value="9">IDOTRR</option>
					<option value="10">MeadowV</option>
					<option value="11">Mitchel</option>
					<option value="12">NAmes</option>
					<option value="13">NPkVill</option>
					<option value="14">NWAmes</option>
					<option value="15">NoRidge</option>
					<option value="16">NridgHt</option>
					<option value="17">OldTown</option>
					<option value="18">SWISU</option>
					<option value="19">Sawyer</option>
					<option value="20">SawyerW</option>
					<option value="21">Somerst</option>
					<option value="22">StoneBr</option>
					<option value="23">Timber</option>
					<option value="24">Veenker</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="Exterior1st" class="form-label">Exterior1st</label>
				<select class="form-select" id="floatingSelect" name="Exterior1st" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">AsbShng</option>
					<option value="1">AsphShn</option>
					<option value="2">BrkComm</option>
					<option value="3">BrkFace</option>
					<option value="4">CBlock</option>
					<option value="5">CemntBd</option>
					<option value="6">HdBoard</option>
					<option value="7">ImStucc</option>
					<option value="8">MetalSd</option>
					<option value="9">Plywood</option>
					<option value="10">Stone</option>
					<option value="11">Stucco</option>
					<option value="12">VinylSd</option>
					<option value="13">Wd Sdng</option>
					<option value="14">WdShing</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="BsmtExposure" class="form-label">BsmtExposure</label>
				<select class="form-select" id="floatingSelect" name="BsmtExposure" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">Av</option>
					<option value="1">Gd</option>
					<option value="2">Mn</option>
					<option value="3">No</option>
					<option value="4">No Basement</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="CentralAir" class="form-label">CentralAir</label>
				<select class="form-select" id="floatingSelect" name="CentralAir" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">N</option>
					<option value="1">Y</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="KitchenQual" class="form-label">KitchenQual</label>
				<select class="form-select" id="floatingSelect" name="KitchenQual" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">Ex</option>
					<option value="1">Fa</option>
					<option value="2">Gd</option>
					<option value="3">TA</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="Functional" class="form-label">Functional</label>
				<select class="form-select" id="floatingSelect" name="Functional" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">Maj1</option>
					<option value="1">Maj2</option>
					<option value="2">Min1</option>
					<option value="3">Min2</option>
					<option value="4">Mod</option>
					<option value="5">Sev</option>
					<option value="6">Typ</option>
				</select>
			</div>
			<div class="mb-3 col-auto">
				<label for="SaleType" class="form-label">SaleType</label>
				<select class="form-select" id="floatingSelect" name="SaleType" aria-label="Floating label select example">
				<option selected>Open this select menu</option>
					<option value="0">COD</option>
					<option value="1">CWD</option>
					<option value="2">Con</option>
					<option value="3">ConLD</option>
					<option value="4">ConLI</option>
					<option value="5">ConLw</option>
					<option value="6">New</option>
					<option value="7">Oth</option>
					<option value="8">WD</option>
				</select>
				
			</div>
		<button type="submit" class="btn btn-primary">Submit</button>	
		</form>
	</div>
</body>
</html>